{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h2>
    <table border="5">

    <tr><td>Coin Name</td><td>Initial Prices</td><td>Symbols</td> </tr>
    <tr><td>Bitcoin</td><td>${{initial_price_btc}}</td><td>BTC</td></tr>
    <tr><td>Ethereum</td><td>${{initial_price_eth}}</td><td>ETH</td></tr>
    <tr><td>BNB</td><td>${{initial_price_bnb}}</td><td>BNB</td></tr>
    <tr><td>Ripple</td><td>${{initial_price_xrp}}</td><td>XRP</td></tr>
    <tr><td>Dogecoin</td><td>${{initial_price_doge}}</td><td>DOGE</td></tr>

    </table>    
</h2>    
<form action="#" method="post">
    <table>
        <tr>
            <td><label>Symbol</label></td>
            <td><input type="text" required name="Symbol"></td>
            <br>
        </tr>
        <tr>
            <td><label>Alert Price</label></td>
            <td><input type="text" required name="Alert-Price"></td>
            <br>
        </tr>
        <tr>
            <td><label>Notification: Greater or Lower</label></td>
            <td><input type="text" required name="Notification"></td>
            <br>
        </tr>
        <tr>
            <td><h2>You will recieve Notification on the telegram bot about your desired symbol and alert price, if 
            you want to change these values you can do so by refilling the above form. 
            </h2></td>
            
            <br>
        </tr>
        
        <tr><td><button type="submit">Submit</button></td></tr>
        <tr><td><button onclick="window.location.href='/logou'">Logout</button></td></tr>
            
       
    </table>
{% endblock %}